
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
 
.actions {
    font-size: 1.5rem;
    cursor: pointer;
}

.visibility{
    color: blue;
}
.edit{
    color: chocolate;
}
.person_remove{
    color: red;
}